#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 0.11.0.build{build}

environment:
  matrix:
    - PYTHON_VERSION: 2.7
      MINICONDA: C:\Miniconda
      ARCH: "32"
      
    - PYTHON_VERSION: 2.7
      MINICONDA: C:\Miniconda-x64
      ARCH: "64"

init:
  - "ECHO %PYTHON_VERSION% %MINICONDA%"

install:
  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - conda config --set always_yes yes --set changeps1 no
  - conda install --quiet conda=4.6.14
  - conda info --all
  - conda create -n _aneris python=2.7 pip
  - activate _aneris
  - copy .condarc %CONDA_PREFIX%
  - conda install polite=0.10.1
  - conda install --file requirements-conda-dev.txt
  - pip install -e .
  - conda install dtocean-dummy-module mock pytest pytest-cov=2.5.1 pytest-mock
  
build: off
  
test_script:
  - py.test --cov aneris tests
  
after_test:
 - pip install codecov
 - codecov
  
